/** At Mobile view */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

body {
  padding: 30px;
}

img {
  max-width: 100%;
  width: 50px;
  height: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 1fr; */
  gap: 25px;
  width: 100%;
  height: 100vh;

  grid-template-areas:
    "header"
    "left"
    "top"
    "bottom"
    "right"
    "footer";
}

.ws1,
.ws2,
.ws3,
.ws4 {
  display: none;
}

.header {
  grid-area: header;
  margin-bottom: 30px;
}

.header .header-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-flex .tagline-1 {
  font-weight: 200;
  font-size: 1.5rem;
  color: hsl(212, 6%, 44%);
  text-align: center;
}

.header-flex .tagline-2 {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 1.5rem;
  color: hsl(234, 12%, 34%);
  text-align: center;
  /* padding: 0; */
}

.header-flex .message {
  font-weight: 400;
  font-size: 0.9rem;
  text-align: center;
  max-width: 460px;
  width: 100%;
  text-align: center;
}

/** Top */

.top {
  grid-area: top;
  border-top: 5px solid hsl(0, 78%, 62%);
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
}

.top .top-flex {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.top .top-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}

.top .top-message {
  font-size: 0.8rem;
  color: hsl(212, 6%, 44%);
}

.top .top-img {
  align-self: flex-end;
  margin-top: 20px;
}

/** Left */

.left {
  grid-area: left;
  border-top: 5px solid hsl(180, 62%, 55%);
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  /* align-self: center; */
}

.left .left-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
}

.left .left-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}

.left .left-message {
  font-size: 0.8rem;
  color: hsl(212, 6%, 44%);
}

.left .left-img {
  align-self: flex-end;
  margin-top: 20px;
}

/** Right */

.right {
  grid-area: right;
  border-top: 5px solid hsl(212, 86%, 64%);
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  /* align-self: center; */
}

.right .right-flex {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.right .right-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}

.right .right-message {
  font-size: 0.8rem;
  color: hsl(212, 6%, 44%);
}

.right .right-img {
  align-self: flex-end;
  margin-top: 20px;
}

/** Bottom */

.bottom {
  grid-area: bottom;
  border-top: 5px solid hsl(34, 97%, 64%);
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  /* margin-bottom: 55px; */
}

.bottom .bottom-flex {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.bottom .bottom-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}

.bottom .bottom-message {
  font-size: 0.8rem;
  color: hsl(212, 6%, 44%);
}

.bottom .bottom-img {
  align-self: flex-end;
  margin-top: 20px;
}

/** Footer */

.footer {
  grid-area: footer;
  justify-self: center;
  align-self: center;
  /* padding-bottom: 25px; */
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/** At Desktop view */

@media (min-width: 800px) {
  body {
    padding: 20px 80px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .grid-container {
    display: grid;
    gap: 25px;
    height: auto;
    width: 100%;
    max-width: 1200px;

    grid-template-areas:
      "header header header header header header"
      "ws1 ws1 top top ws2 ws2"
      "left left top top right right"
      "left left bottom bottom right right"
      "ws3 ws3 bottom bottom ws4 ws4"
      "footer footer footer footer footer footer";

    grid-template-rows: repeat(6, auto);
    grid-template-columns: repeat(6, 1fr);
  }

  /** left right alignment */
  .left,
  .right {
    align-self: center;
  }

  /** whitespaces in layout - Desktop view */

  .ws1,
  .ws2,
  .ws3,
  .ws4 {
    display: block;
  }

  .ws1 {
    grid-area: ws1;
    /* border: 1px solid black; */
  }

  .ws2 {
    grid-area: ws2;
    /* border: 1px solid black; */
  }

  .ws3 {
    grid-area: ws3;
    /* border: 1px solid black; */
  }

  .ws4 {
    grid-area: ws4;
    /* border: 1px solid black; */
  }

  .header {
    /* grid-area: header; */
    margin-top: 50px;
    /* margin-bottom: 30px; */
  }
}
